<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CytoSim copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CytoSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cyto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>example_composite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>example_kostya.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>example_misc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7123D7215752161008F64D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F762ECB4156357A200B93517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F762ECD215652FF000B93517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F762ECDA1565317700B93517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F763ED051548FFC70069DA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F771ADB115655C470010B123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F771ADBA15655CD70010B123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F771ADC8156561680010B123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7A77DA315ACAC5700076046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C7A0DD15FFBA3D00DF9838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7E3DB591579A03C002EAF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
