<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>MEDYAN</string>
     <key>CFBundleIdentifier</key>
     <string>edu.umd.PapoianLM3Sym</string>
     <key>CFBundleVersion</key>
     <string>3.1</string>
     <key>DocSetFeedName</key>
     <string>Doxygen of M3SYM</string>
     <key>DocSetPublisherIdentifier</key>
     <string>edu.umd.PapoianLab</string>
     <key>DocSetPublisherName</key>
     <string>PapoianLab</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
